.counterContainer {
  width: 100%;
  box-sizing: border-box;
}

.counterWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.counterWrapper span {
  padding: 0 15px;
}

.counterWrapper button {
  background-color: brown;
  color: #fff;
  font-size: 16px;
  border: 0;
  outline: 0;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 30px;
}

.counterWrapper button:hover {
  background-color: red;
}
