.app {
  box-sizing: border-box;
  width: 100%;
  min-width: 100vh;
  padding: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: brown;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noTodos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
